<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Car List</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/seeall}">Car List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/seeall}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/add}">Add</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/id/send}" th:object="${sendCar}" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Id" aria-label="Search" th:field="*{id}"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Mark</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td><a th:text="${car.getId()}"></a></td>
        <td><a th:text="${car.getMark()}"></a></td>
        <td><a th:text="${car.getModel()}"></a></td>
        <td><a th:text="${car.getColor().toString()}"></a></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#' + car.getId()}">Edit</button></td>
        <td><button type="button" class="btn btn-danger"><a style="color: inherit" th:href="@{/remove/{id}(id=${car.getId()})}">Delete</a></button></td>

        <div class="modal fade" th:id="${car.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"><a th:text="${'Edit car: ' + car.getMark() + ' ' + car.getModel()}"></a></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/edit/{id}(id=${car.getId()})}" th:object="${newCar}" method="post">
                            <div class="form-group">
                                <label for="mark">Mark</label>
                                <input class="form-control" id="mark" placeholder="Enter Mark" th:field="*{mark}"/>
                            </div>
                            <div class="form-group">
                                <label for="model">Model</label>
                                <input class="form-control" id="model" placeholder="Enter Model" th:field="*{model}"/>
                            </div>
                            <div class="form-group">
                                <label for="color">Color</label>
                                <input class="form-control" id="color" placeholder="Enter Color" th:field="*{color}"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Edit car</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

